<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      One Stop Reviews
    </title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"> 
	</head>	
    <body>
      <div class="nav_bar">
        Your One Stop Destination for Movie Reviews
      </div>
      <div class="main_content">
        ONE STOP REVIEWS
        <form action = "/review" method = "POST">
        <input type = "text" name = "movie_name" placeholder="Movie Name" style="width : 500px;height:30px">
		
          <button type = "submit" name = "formsubmit" style = "width: 40px;height:30px;background-color:#004687;color:#ffffff">OK</button>
    </form>      
      </div>
    </body>
      