<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
      One Stop Reviews
    </title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"> 
	</head>	
    <body>
      <div class="header">
        Your One Stop Destination for Movie Reviews
      </div>
      <div class="main_content">
        ONE STOP REVIEWS
        <form action = "/review" method = "POST">
        <input type = "text" name = "movie_name" placeholder="Movie Name" required style="width: 85% ; height: 30%">
		
          <button type = "submit" name = "formsubmit" style = "width: 10% ; height: 30% ; background-color: #004687 ; color: #ffffff">OK</button>
    </form>      
      </div>
    </body>
      
